#col1{
    background-color: #0E2664;
    height: 1000px;
    color: white;
    font-size: 36px;
    font-family:'Times New Roman', Times, serif ;
}
#w{
    font-size: 20px;
    
}
#c{
    font-size: 24px;
    background-color: black;
}
#add{
    font-size: 20px;
    
}
#k{
    font-size: 15px;
    
}
#p{
    font-size: 20px;
    
}  
#n{
    font-size: 15px;
}
#e{
    font-size: 20px;
}
#a{
    font-size: 15px;
}
#s{
    font-size: 24px;
    background-color: black;
}
#sk{
    font-size: 15px;
}
#l{
    font-size: 24px;
    background-color: black;
}
#la{
    font-size: 15px;
}
#col2{
    margin-top: 20px;
    height: 1000px;
    font-family: 'Times New Roman', Times, serif;
    
}
#h{
    margin-top: 65px;
}
#wo{
    font-size: 24px;
    color: #0E2664;
}
#we{
    margin-left: 60px;
    font-size: 22px;
}
#ha{
    margin-left: 65px;
    
}
#un{
    margin-left: 120px;
}
#edu{
    font-size: 24px;
    color: #0E2664;
}
#ba{
    margin-left: 60px;
    font-size: 22px;
}
#st{
    margin-left: 65px;
}
#cer{
    font-size: 24px;
    color: #0E2664;
}
#sal{
    margin-left: 65px;
    font-size: 22px;
}


